build/*.js
src/assets
src/assets/
src/assets/*
public
public/
public/*
dist
dist/
dist/*
tests
tests/
tests/*
node_modules
node_modules/
node_modules/*
mock
mock/
mock/*
src/image
src/image/
src/image/*
src/icons
src/icons/
src/icons*
styles
styles/
styles/*